﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Manage.aspx.cs" Inherits="Shopping.Pages.Manage" %>

<asp:Content runat="server" ContentPlaceHolderID="MainContent">

</asp:Content>
