﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Wishlist.aspx.cs" Inherits="Shopping.Pages.Wishlist" %>

<asp:Content runat="server" ContentPlaceHolderID="MainContent">

</asp:Content>