﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.l-label {
    text-align: left;
    font-weight: bold;
    margin-left: 30px;
    color: #353535;
}

.loginBox {
    width:300px;
    margin-left: 35px;
    text-align: center;
}

.item {
    display: inline-block;
    color: #353535;
    width:60%;
}

.item .itemContainer {
    margin:0;
}

.sideBar h3 {
    background: linear-gradient(#ffffff, #F6F6F6);
    border-bottom: 1px solid #E0E0E0;
    color: #3C3C3C;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 0 12px 20px;
    text-transform: uppercase;
}

.related li > *{
    display:inline-block;
}

.related li .img {
    vertical-align:top;
}

.price {
    color: #353535;
}

.related li info {
    
}

.sideBar {
    vertical-align: top;
    display: inline-block;
    width:30%;
    margin: 15px 40px;
    border: 1px solid #E7E7E7;
}

.sideBar li {
    border-bottom: 1px solid #E7E7E7;
    padding: 5px;
}

.error {
    color:red;
    font-size:.8em;
}

.line {
    margin-bottom: 10px;
}

.line a {
    font-size: .8em;
}

.loginBox .line > * {
    width: 80%;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../Content/Images/body-background.jpg") no-repeat fixed center top #FFFFFF;
    color: #7F7F7F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 17px;
}

img {
    border: 0 none;
}

.container {
    margin:30px auto 0;
    position:relative;
    text-align:left;
}

/* header section */
header {
    background: url("../Content/Images/header-bg.png") repeat scroll left top #fff;
    border-bottom:2px solid #e0e0e0;
    position: relative;
    z-index: 10;
}

.top_head {
    overflow: hidden;
    position: relative;
}

.logo {
    display: inline-block;
    margin: 0px 41px;
    width: 25%;
}

#search {
    display: inline-block;
    vertical-align: bottom;
    width: 65%;
}

#search input[type="text"] {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e0e0e0;
    display:inline-block;
    font-family: Arial,Helvetica,sans-serif;
    padding: 5px;
    width:89%;
    max-width:none;
}

#search input[type="submit"] {
    position: relative;
    left: -3px;
    cursor:pointer;
    display:inline-block;
    height: 29px;
    padding: 0;
    border-left-width:0px;
    width: 10%;
}

input[type="submit"] {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #353535;
}


/*navigation menu*/
.nav {
    background-color:#353535;
    overflow: hidden;
}
.nav ul {
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    color:#FFFFFF;
}

.nav ul li.rightSide {
    position: absolute;
    right: 10px;
    top: 6px;
}

.nav ul li a {
    color: inherit;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 4px 10px 4px 11px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.itemContainer {
    width:80%;
    margin: 0 auto;
}

.itemContainer li {
    color: #353535;
    margin: 5px 0;
    padding: 15px 0;
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.searchImg {
    display: inline-block;
    width:35%;
    vertical-align:top;
}

.searchImg img {
    width:125px;
}

.info {
    display: inline-block;
    width: 64%;
}

.info h3 {
    margin-top: 0px;
}

.actions {
    margin-top: 5px;
}

.actions a {

}

.actions a 
{
    color: #fd7a01;
    border: 1px solid #E0E0E0;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}

.info a {
    color: #353535;
    text-decoration: none;
}

.info a:hover {
    color: #049733;
}

.nivoSlider {
    position:relative;
    max-width:100%;
    overflow: hidden;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
}
.nivo-slice {
    display:block;
    position:absolute;
    z-index:50;
    height:100%;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
}
.nivo-caption {
    background-color:rgba(255, 255, 255, 0.7);
    width:100%;
    padding:22px 170px 28px 22px;
    color:#000;
    position:absolute;
    left:0;
    bottom:0;
    z-index:90;
}
.nivo-caption h5 {
    font-size:30px;
    font-weight:normal;
    line-height:1.2em;
    margin:0;
    padding:0 0 2px;
}
.nivo-caption p {
    padding:0;
    line-height:16px;
    font-size:12px;
}
.nivo-html-caption {
    display:none;
}

/*
nav ul li a:hover, nav ul li.selected a {
    background: none repeat scroll 0 0 #353535;
}
*/
#submenu {
    background: -moz-linear-gradient(#ffffff, #f6f6f6); /* FF 3.6+ */  
    background: -ms-linear-gradient(#ffffff, #f6f6f6); /* IE10 */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6)); /* Safari 4+, Chrome 2+ */  
    background: -webkit-linear-gradient(#ffffff, #f6f6f6); /* Safari 5.1+, Chrome 10+ */  
    background: -o-linear-gradient(#ffffff, #f6f6f6); /* Opera 11.10 */  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6')"; /* IE8+ */  
    background: linear-gradient(#ffffff, #f6f6f6); /* the standard */ 

    border: 1px solid #E0E0E0;
    height: 34px;
    margin: 20px 40px;
}
#submenu ul {
    margin: 0;
    padding: 0px 40px;
}
#submenu li {
    float: left;
    line-height: 1em;
    list-style: none outside none;
    position: relative;
}

.container {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
}

#submenu li a {
    background: url("../Content/Images/purpJellyClick.png") no-repeat scroll 0 9px transparent;
    border-right: 1px solid #E0E0E0;
    color: #383838;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 0 0 19px;
    padding: 9px 41px 11px 40px;
    text-decoration: none;
    text-transform: uppercase;
}

#submenu li:last-child a {
    border-right: 1px solid #ffffff;
}

#submenu li a:hover {
    background-image: url("../Content/Images/blueJellyClick.png");
}

/* main section */
#main {
    background-color: #fff;
    padding:20px 0;
}
#content {
    overflow: hidden;
}
#content #left, #content #right {
    border: 1px solid #E9E9E9;
    float: right;
    margin: 0 2%;
    width: 63%;
}
#content #right {
    margin-left: 0;
    width: 25%;
}
#content h3 {
    background: -moz-linear-gradient(#ffffff, #F6F6F6); /* FF 3.6+ */  
    background: -ms-linear-gradient(#ffffff, #F6F6F6); /* IE10 */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #F6F6F6)); /* Safari 4+, Chrome 2+ */  
    background: -webkit-linear-gradient(#ffffff, #F6F6F6); /* Safari 5.1+, Chrome 10+ */  
    background: -o-linear-gradient(#ffffff, #F6F6F6); /* Opera 11.10 */  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F6F6F6'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F6F6F6')"; /* IE8+ */  
    background: linear-gradient(#ffffff, #F6F6F6); /* the standard */ 

    border-bottom: 1px solid #E0E0E0;
    color: #3C3C3C;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 11px 0 12px 20px;
    text-transform: uppercase;
}
#content ul {
    list-style:none outside none;
    margin:0;
    padding:0;
}
#content #left ul li {
    float:left;
    padding-bottom: 21px;
    width: 33%;
}
#content #left ul li:hover {
    background-color: #fbfbfb;
}
#content #right ul li {
    border-top: 1px solid #E7E7E7;
    overflow: hidden;
}
#content #right ul li:hover {
    background-color: #fbfbfb;
}
#content #right ul li:first-child {
    border-width: 0;
}
#content #left ul li .img {
    text-align: center;
}
#content #right ul li .img {
    background-color: #FFFFFF;
    float: left;
    height: 94px;
    text-align: center;
    width: 113px;
}
#content #left ul li .img img {
    height:128px;
    width:128px;
}
#content #right ul li .img img {
    height:70px;
    margin-top: 11px;
    width:70px;
}
#content #left ul li .info {
    padding: 17px 20px 0 19px;
}
#content #right ul li .info {
    float: left;
    overflow: hidden;
    padding: 17px 0 0 21px;
    width: 164px;
}
#content ul li .info .title {
    color: #4B4B4B;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}
#content ul li .info .title:hover {
    color: #049733;
}
#content #left ul li .info p {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
}
#content #left ul li .info .price {
    background: none repeat scroll 0 0 #F7F7F7;
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 17px 0 10px;
    padding: 6px 0 6px 8px;
}
#content #right ul li .info .price {
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding-top: 25px;
}
#content #left ul li .info .price .st {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    margin-right: 3px;
}
#content #right ul li .info .price .usual, #content #right ul li .info .price .special {
    color: #7F7F7F;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    padding-right: 6px;
    text-decoration: line-through;
}
#content #right ul li .info .price .special {
   color: #009832;
    font-weight: bold;
    text-decoration: none;
}
#content #left ul li .info .actions {
    overflow:hidden;
}
#content #left ul li .info .actions a {
    border: 1px solid #E0E0E0;
    color: #009832;
    display: block;
    float:right;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px;
    text-decoration: none;
}
#content #left ul li .info .actions a:first-child {
    color: #fd7a01;
    float:left;
}

/* footer section */
footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #E0E0E0;
    margin: 0 0 5px;
    padding: 15px 0 15px 20px;
}
footer #privacy {
    color: #9B9B9B;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
}
footer a{
    color: #9B9B9B;
    text-decoration: none;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"] {
    max-width: 280px;
}


/* Reset.css */
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top; }

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table, table td { 
    padding:0;
    border:none;
    border-collapse:collapse;
}
img {
    vertical-align:top; 
}
embed { 
    vertical-align:top;
}

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
